* {
	box-sizing: border-box;
}
.home-intro {
	background-image: url(../images/bg1.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}
/*body {
	background-image: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}*/
body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}
.login-form-wrap {
	/*background: radial-gradient(ellipse at center, #5170ad 0%, #355493 100%);
  border: 1px solid #2d416d;
  box-shadow: 0 1px #5670A4 inset, 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;*/
	background-color: rgba(0,0,0,0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.2), inset -1px -1px 0 0 rgba(0,0,0,0.2);
	-moz-box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.2), inset -1px -1px 0 0 rgba(0,0,0,0.2);
	box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.2), inset -1px -1px 0 0 rgba(0,0,0,0.2);
	width: 480px;
	height: auto;
	margin: 60px auto;
	padding: 50px 30px 50px 30px;
	text-align: center;
}
.login-form-wrap h1 {
	margin: 0 0 50px 0;
	padding: 0;
	font-size: 26px;
	color: #fff;
}
.login-form-wrap h5 {
	margin-top: 25px;
	color: #FFF;
}
.login-form-wrap h5 > a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
}
.login-form-wrap p {
	margin-top: 10px;
	color: #FFF;
}
.login-form-wrap p > a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	font-weight: 400;
}

.login-form input[type="email"], .login-form input[type="password"], .login-form input[type="emailid"] {
	width: 100%;
	border: 1px solid #e4e4e4;
	height: 45px;
	outline: none;
	padding: 12px 20px;
	color: #afafaf;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	cursor: pointer;
}

.login-form input[type="email"] {
	border-bottom: none;
	    border-radius: 4px 4px 4px 4px;
	padding-bottom: 13px;
	box-shadow: 0 -1px 0 #E0E0E0 inset, 0 1px 2px rgba(0, 0, 0, 0.23) inset;
}

.login-form input[type="emailid"] {
	border-top: none;
	border-radius: 0 0 0px 0px;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.23) inset, 0 1px 2px rgba(255, 255, 255, 0.1);
}

.login-form input[type="password"] {
	border-top: none;
	border-radius: 4px 4px 4px 4px;
	margin-top: 10px;
	box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.23) inset, 0 1px 2px rgba(255, 255, 255, 0.1);
}
.login-form input[type="submit"] {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	background: linear-gradient(to bottom, #003556 0%, #003556 100%);
	display: block;
	margin: 20px auto 0 auto;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 8px;
	height:45px;
	font-size: 17px;
	color: #FFF;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
	font-weight: 700;
	box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.17), 0 1px 0 rgba(255, 255, 255, 0.36) inset;
}
.login-form input[type="submit"]:hover {
	background: #002942;
}
.login-form input[type="submit"]:active {
	padding-top: 9px;
	padding-bottom: 7px;
	background: #C9C9C9;
}


/*---------------------Register--------------------------------------*/


.subdomain-div {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 4px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.domainnamefield {
    height: 45px !important;
    border-radius: 4px 0px 0px 4px !important;
}
#app_address {
    border-radius: 0px 3px 3px 0px;
    border: 0px;
    background-color: #f6f6f6;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group-addon{
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon {
    display: table-cell;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

@media only screen and (min-width: 220px) and (max-width: 767px) {
    .login-form-wrap {
        background-color: rgba(0,0,0,0.5);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.2), inset -1px -1px 0 0 rgba(0,0,0,0.2);
        -moz-box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.2), inset -1px -1px 0 0 rgba(0,0,0,0.2);
        box-shadow: inset 1px 1px 0 0 rgba(255,255,255,0.2), inset -1px -1px 0 0 rgba(0,0,0,0.2);
        width: 98%;
        height: auto;
        margin: 60px auto;
        padding: 50px 30px 50px 30px;
        text-align: center;
    }
}
